---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
          "reset",
          "variables",
          "type",
          "grid",
          "spacing",
          "layout_and_positions"
;


    .nav-tabs { margin: 32px 0 48px 0; padding: 0; text-align: center; }
    .nav-tabs li { list-style: none; display: inline-block; }
    .nav-tabs li a { display: block; padding: 8px 18px; font-size: 24px;background: #ddd; color: #888; }
    .nav-tabs li a.active { background: $color--link; color: #fff; }
  
    .tag-list ul { margin: 0 0 8px 0; padding: 0; overflow: hidden; width: auto; display: none; }
    .tag-list ul li { list-style: none; display: inline-block; float: left; margin: 0 4px 4px 0; }
    .tag-list ul li a { padding: 5px 8px; font-size: 12px; color: #888; background: #ddd; display: block; }
    .tag-list ul li.active a { background: $color--link; color: #fff; }