---
layout: default
title: Episodes
---

<ul class="nav-tabs">
  <li><a {% if page.title == "Episodes" %} class="active"{% endif %} href="{{ site.baseurl }}/">Episode feed</a></li>
  <li>&nbsp;&nbsp;or&nbsp;&nbsp;</li>
  <li><a {% if page.title == "Shows" %} class="active"{% endif %} href="{{ site.baseurl }}/shows">Shows I subscribe to</a></li>
</ul>

<p class="center mhxxxl mbxxl" style="background: #ffffdd; padding: 1rem;">Subscribe to this feed of episodes via <a href="{{ site.baseurl }}/rss.xml">RSS</a> or <a href="itpc://feeds.feedburner.com/potspodcastpicks">iTunes</a></p>

{% for episode in site.episodes reversed %}

  {% assign podcast_data = site.podcasts | where:"title", episode.podcast %}
  {% assign podcast = podcast_data | first %}

  <div class="mbxxxl" style="background: url({{ podcast.url-thumbnail }}) no-repeat; background-size: 60px; padding-left: 76px;">
    <h2 class="mbxxs">{{ episode.title }}</h2>
    <p class="mbxxs weak">from <a class="weak underline" href="{{podcast.url-web}}">{{ podcast.title }}</a> on {{ episode.date | date: '%B %e, %Y' }}</p>
    <p class="mbxxs">{{ episode.summary }}</p>
    <p class="mbxs"><a href="{{ episode.url-audio }}">Download MP3</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{ episode.url-web }}">Episode website</a></p>
    <audio controls>
      <source src="{{ episode.url-audio }}" type="audio/mpeg">
    Your browser does not support the audio element.
    </audio>
  </div>

{% endfor %}