---
layout: default
---

<style>

</style>

<h1 style="font-weight: bold;">Podcasts from data</h1>

<ul id="container" style="margin-left: 0; position: relative;">

{% for podcast in site.data.podcasts %}
  <li class="item" data-tags="{{ podcast.tags | join: ' ' }}" style="list-style: none; padding-left: 96px; margin: 0 0 2rem 0;">
    <img style="position: absolute; left: 0; width: 80px;" width="80" src="{{ podcast.url-thumbnail }}" />
    <h2 style="margin: 0 0 4px 0; font-weight: bold;">{{ podcast.title }}</h2>
    <p style="margin: 0 0 8px 0;">{{ podcast.description }}</p>
    <p><a href="{{ podcast.url-itunes }}">iTunes</a> | <a href="{{ podcast.url-rss }}">RSS</a> | <a href="{{ podcast.url-web }}">Website</a></p>        
  </li>
{% endfor %}
</ul>

<h1 style="font-weight: bold;">Episodes</h1>
{% for episode in site.episodes %}
  <p>{{ episode.title }}</p>
{% endfor %}