//  ----------------------------------------------------------------------------
//  Colors
//  ----------------------------------------------------------------------------

        $color--black:          #222;
        $color--gray-dark:      #333;
        $color--gray:           #555;
        $color--gray-light:     #888;
        $color--gray-lighter:   #aaa;
        $color--gray-lightest:  #f6f6f6;
        $color--white:          #fff;

        $color--primary:        #ff4a00;
        $color--secondary:      #ff0065;
        $color--link:           $color--primary;
        
        .color--black          { color: $color--black; }
        .color--gray-dark      { color: $color--gray-dark; }
        .color--gray           { color: $color--gray; }
        .color--gray-light     { color: $color--gray-light; }
        .color--gray-lighter   { color: $color--gray-lighter; }
        .color--gray-lightest  { color: $color--gray-lightest; }
        .color--white          { color: $color--white; }
        
        .color--primary        { color: $color--primary; }
        .color--secondary      { color: $color--secondary; }

        .bg--black          { background-color: $color--black; }
        .bg--gray-dark      { background-color: $color--gray-dark; }
        .bg--gray           { background-color: $color--gray; }
        .bg--gray-light     { background-color: $color--gray-light; }
        .bg--gray-lighter   { background-color: $color--gray-lighter; }
        .bg--gray-lightest  { background-color: $color--gray-lightest; }
        .bg--white          { background-color: $color--white; }
        
        .bg--primary        { background-color: $color--primary; }
        .bg--secondary      { background-color: $color--secondary; }
        

//  ----------------------------------------------------------------------------
//  Spacing & Breakpoints
//  ----------------------------------------------------------------------------

        // Default whitespace unit
        $space: 1rem;

        // Breakpoints
        $breakpoint--mobile: 32em; // 512px
        $breakpoint--desktop: 48em; // 768px

        // Grid
        $grid--max-width: 64rem; // 1024px
        $grid--gutter: 1.5 * $space;

        // Spacing (for margin & padding)
        $space--xxxlarge:       4rem;
        $space--xxlarge:        3rem;
        $space--xlarge:         2.5rem;
        $space--large:          1.75rem;
        $space--normal:         1rem;
        $space--small:          .75rem;
        $space--xsmall:         .5rem;
        $space--xxsmall:        .25rem;
        $space--xxxsmall:       .125rem;
        $space--none:           0rem;

//  ----------------------------------------------------------------------------
//  Type
//  ----------------------------------------------------------------------------

        $font-family--default:    Roboto, Helvetica, sans-serif;
        $font-family--monospace:  Courier, monospace;

        $font-weight--normal:     400;
        $font-weight--strong:     700;

        $font-size--xxxlarge:     3rem;
        $font-size--xxlarge:      2.5rem;
        $font-size--xlarge:       1.5rem;
        $font-size--large:        1.25rem;
        $font-size--normal:       1rem;
        $font-size--small:        .875rem;
        $font-size--xsmall:       .750rem;

        $line-height--default:    1.4;
        $line-height--heading:    1.25;

        $font-color--default:     $color--gray;
        $font-color--strong:      $color--gray-dark;
        $font-color--weak:        $color--gray-light;



//  ----------------------------------------------------------------------------
//  Borders
//  ----------------------------------------------------------------------------

        $border--color:  $color--gray-light;
        $border--width:  1px;
        $border--radius: .25rem;