<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

      <section class="masthead ptxxl">

        <h1 class="site-title">Pots Podcast Picks</h1>
        
        <p class="site-subtitle">A curated list of recommended podcasts. All shows &amp; episodes are hand-picked by <a class="color--white underline" href="http://twitter.com/davidpots">@DavidPots</a>.</p>

        <ul class="nav-tabs">
          <li><a {% if page.title == "Episodes" %} class="active"{% endif %} href="{{ site.baseurl }}/">Episodes</a></li>
          <li>&nbsp;</li>
          <li><a {% if page.title == "Shows" %} class="active"{% endif %} href="{{ site.baseurl }}/shows">Shows</a></li>
        </ul>

      </section>
      
      <div class="container--col-8">
        
        {{ content }}

      </div>

    {% include footer.html %}

  </body>

</html>
