<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <section class="masthead pvm">
      <div class="container--col-6">
        <p class="color--white man strong"><a class="color--white" href="/">&larr; Pots Podcast Picks</a></p>
      </div>
    </section>
    
    <div class="container--col-6 pvxl">
      
      {{ content }}

    </div>

    <section class="bg--gray-lightest pvxl">
      <div class="container--col-6">
        <p class="h3"><strong class="block">Looking for more of my recommendations? </strong>Check out my <a href="/">main feed</a> of recommended episodes! I usually put up a few a week. You can subscribe to this feed of episodes using the <a href="{{ site.baseurl }}/rss.rss">RSS feed</a>.</p>
      </div>
    </section>
    
  </body>

</html>
