<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <section class="masthead pvm mbxl">
      <div class="container--col-6">
        <p class="color--white man strong"><a class="color--white" href="/">&larr; Pots Podcast Picks</a></p>
      </div>
    </section>
    
    <div class="container--col-6">
      
      {{ content }}

    </div>

    <section class="masthead pvm">
      <div class="container--col-6">
        <p class="color--white man strong"><a class="color--white" href="/">&larr; Pots Podcast Picks</a></p>
      </div>
    </section>

  </body>

</html>
